.productListContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}